services:
  - type: web
    runtime: node
    name: zensai-erp
    repo: https://github.com/chang04133/ZENSAI-ERP.git
    branch: main
    plan: free
    buildCommand: npm run install:all && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRY
        value: 24h
      - key: JWT_REFRESH_EXPIRY_DAYS
        value: "30"
